.random{
    background-image: url('https://img.freepik.com/free-vector/flat-adventure-background-with-illustration_23-2149044036.jpg?t=st=1709291942~exp=1709295542~hmac=46854ea945cfe00d031e1709ce36dc1ff24bf2cd540f80f632eebd33ef7d63ad&w=1380');
    background-size: cover;
    background-repeat: no-repeat;
}