*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #424769;
}

.container{
    border-radius: 15px;
    background-color: #EEF5FF;
    padding: 10px;
    border: 2px solid greenyellow;
    height: 100%;
    width: 100%;
}

.hero-text h1{
    padding-top: 50px;
    font-size: 3vh;
    text-align: center;
    color: black;
    font-weight: 700;
}

.hero-text2 p{
    padding-top: 10px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.container .boxcard img{
    width: 50px;
    
}