*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #0F0F0F;   
}

.main-container{
    background: linear-gradient(0deg, #f6f2f2eb, #f6f2f2eb), url('https://img.freepik.com/free-vector/gradient-mountain-landscape_23-2149151141.jpg?w=1800&t=st=1708329589~exp=1708330189~hmac=0c7e5a1a55306468aceab91c496e85ac768307da1cf4b04d74aaf8b0e7aee7dc');
    margin: 120px;
    align-items: center;
    border-radius: 15px;
    background-color: #F5F7F8;
    box-shadow: rgba(248, 247, 247, 0.918) 0px 5px 15px;
}

.hero-text h1{
    padding-top: 50px;
    font-size: 3vh;
    text-align: center;
    color: black;
    font-weight: 700;
}

.hero-text2 p{
    padding-top: 10px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.container .row{
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
}

.container .row .card{
    background-color: #EEF5FF;
    width: 18rem;
    border-radius: 20px;
}

.container .row .card-img-top{
    width: 80px;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 12px;
}

.container .row .btn{
    padding: 10px;
    margin-left: 55px;
    margin-bottom: 40px;
    margin-top: 15px;
    background-color: #596fb738;
    color: #0F0F0F;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container .card-body h5{
    font-size: 20px;
    font-weight: 700;   
}

.container .card-body .card-text1{
    font-size: 15px;
}

.container .card-body .card-text b{
    font-size: 25px;
}

.container button{
    padding: 10px;
    width: fit-content;
    border-radius: 25px;
    margin-bottom: 50px;
    background-color: #0F1035;
    color: whitesmoke;
}

.card1{
    box-shadow: -15px -15px 8px rgba(233, 222, 5, 0.451);
}

.card2{
    box-shadow: -15px -15px 8px rgba(155, 13, 206, 0.349);
}

.card3{
    box-shadow: -15px -15px 8px rgba(7, 133, 224, 0.32);
}