*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #08080891, #07070793), url('https://images7.alphacoders.com/134/1341150.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header .container{
    height: 6vh;
}